@page "/cities"
@attribute [Authorize]
@inject ICitiesService CityService

<div class="row">
    <div class="col-md-4">
        <Search OnSearchChanged="SearchChanged" />
    </div>
    @*<div class="col-md-4">
        <Sort OnSortChanged="SortChanged" />
    </div>*@
    <div class="col-md-2">
      
            <a type="button" class="btn btn-warning" href="cities/createCity">Создать</a>

    </div>
</div>
<div class="row">
    <div class="col">
        <CityTable Cities="CitiesList" OnDelete="DeleteCity" />
    </div>
</div>
<div class="row">
    <div class="col">
        <Pagination MetaData="MetaData" Spread="1" SelectedPage="SelectedPage" />
    </div>
</div>


@code {
    public List<City> CitiesList { get; set; } = new List<City>();
    public MetaData MetaData { get; set; } = new MetaData();
    private CityPagingParameters _cityPagingParameters = new CityPagingParameters();

    protected async override Task OnInitializedAsync()
    {
        await GetCities();
    }

    private async Task SearchChanged(string searchTerm)
    {
        Console.WriteLine(searchTerm);
        _cityPagingParameters.PageNumber = 1;
        _cityPagingParameters.SearchTerm = searchTerm;
        await GetCities();
    }

    private async Task SortChanged(string orderBy)
    {
        _cityPagingParameters.OrderBy = orderBy;
        await GetCities();
    }

    private async Task SelectedPage(int page)
    {
        _cityPagingParameters.PageNumber = page;
        await GetCities();
    }


    private async Task DeleteCity(Guid id)
    {
        await CityService.DeleteCity(id);
        _cityPagingParameters.PageNumber = 1;
        await GetCities();
    }

    private async Task GetCities()
    {
        var pagingResponse = await CityService.GetCitiesPaged(_cityPagingParameters);
        CitiesList = pagingResponse.Items;
        MetaData = pagingResponse.MetaData;
    }

}