@page "/cities/updateCity/{Id}"
@attribute [Authorize]
@inject ICitiesService CityService

<h2>Обновить данные</h2>
@if (_city != null)
{
	<EditForm Model="@_city" OnValidSubmit="@Update" class="card card-body bg-light mt-5">
	<DataAnnotationsValidator />
	<ValidationSummary />
	<div class="form-group row">
		<label for="title" class="col-md-2 col-form-label">Название:</label>
		<div class="col-md-10">
			<InputText id="title" class="form-control" @bind-Value="_city.Title" />
		</div>
	</div>
	<div class="form-group row">
		<label for="subject" class="col-md-2 col-form-label">Субъект: </label>
		<div class="col-md-10">
			<InputText id="subject" class="form-control" @bind-Value="_city.Subject" />
		</div>
	</div>
	<div class="form-group row">
		<label for="population" class="col-md-2 col-form-label">Население: </label>
		<div class="col-md-10">
			<InputNumber id="population" class="form-control" @bind-Value="_city.Population" />
		</div>
	</div>
	<div class="form-group row">
		<label for="district" class="col-md-2 col-form-label">Регион:</label>
		<div class="col-md-10">
			<InputText id="district" class="form-control" @bind-Value="_city.District" />
		</div>
	</div>
	<div class="form-group row">
		<label for="image" class="col-md-2 col-form-label">Изображение:</label>
		<div class="col-md-10">
		      <ImageUpload ImgUrl="@_city.Subject" OnChange="AssignImageUrl" />
            </div>
        </div>
	<div class="row">
		<div class="col-md-12 text-right">
			<button type="submit" class="btn btn-success">Обновить</button>
		</div>
	</div>
</EditForm>
	<SuccessNotification @ref="_notification" />
}

@code {
	private City _city;
	private SuccessNotification _notification;

	[Parameter]
	public string Id { get; set; }
	protected async override Task OnInitializedAsync()
	{
		_city = await CityService.GetCityById(Id);
	}
	private async Task Update()
	{
		await CityService.EditCity(_city);
		_notification.Show();
	}
	private void AssignImageUrl(string imgUrl) => _city.Subject = imgUrl;
}