@if (Cities.Count > 0)
{
	<table class="table">
	<thead>
		<tr>
			<th scope="col"> Название </th>
			<th scope="col"> Регион </th>
			<th scope="col"> Население </th>
			<th scope="col"> Обновить </th>
			<th scope="col"> Удалить </th>
		</tr>
	</thead>
	<tbody>
		@foreach (var city in Cities)
			{
				<tr>
					<td class="align-middle">@city.Title</td>
					<td class="align-middle">@city.District</td>
					<td class="align-middle">@city.Population</td>
					<td class="align-middle">
						<button type="button" class="btn btn-info">Обновить</button>
					</td>
					<td class="align-middle">
						<button type="button" class="btn btn-danger">Удалить</button>
					</td>
				</tr>
			}
		</tbody>
	</table>
}
else
{
	<span>
		Загружаю список городов...
	</span>
}
@code {
	[Parameter]
	public List<City> Cities { get; set; }
}

