
<section>
    <select class="form-control" @onchange="ApplySort">
        <option value="-1">Сортировка</option>
        <option value="title">Название</option>
        <option value="rent">Стоимость</option>
        <option value="rent desc">Стоимость убыв.</option>
    </select>
</section>

@code {
    [Parameter]
    public EventCallback<string> OnSortChanged { get; set; }
    private async Task ApplySort(ChangeEventArgs eventArgs)
    {
        if (eventArgs.Value.ToString() == "-1")
            return;
        await OnSortChanged.InvokeAsync(eventArgs.Value.ToString());
    }
}