@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager

<AuthorizeView>
    <Authorized>
        <a class="btn btn-outline-primary" href="/dashboard">Панель управления</a>
        <a class="btn btn-outline-primary" @onclick="BeginSignOut">Выйти</a>
    </Authorized>
    <NotAuthorized>
        <a class="btn btn-outline-primary" href="authentication/register">Регистрация</a>
        <a class="btn btn-outline-primary" href="authentication/login">Войти</a>
    </NotAuthorized>
</AuthorizeView>

@code{
    private async Task BeginSignOut(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }
}
