@page "/cities"
@attribute [Authorize]
@inject IService<City> CityService

<div class="row">
    <div class="col-md-10">
        @*search and sort*@
    </div>
</div>
<div class="row">
    <CityTable Cities="CitiesList" />
</div>
<div class="row">
    <div class="col">
        <Pagination MetaData="MetaData" Spread="1" SelectedPage="SelectedPage" />
    </div>
</div>
<div class="col-md-2">
    <a href="/createCity">Создать</a>
</div>

@code {
    public List<City> CitiesList { get; set; } = new List<City>();
    public MetaData MetaData { get; set; } = new MetaData();
    private PagingParameters _pagingParameters = new PagingParameters();

    protected async override Task OnInitializedAsync()
    {
        await GetCities();
    }

    private async Task SelectedPage(int page)
    {
        _pagingParameters.PageNumber = page;
        await GetCities();
    }

    private async Task GetCities()
    {
        var pagingResponse = await CityService.GetAll(_pagingParameters);
        CitiesList = pagingResponse.Items;
        MetaData = pagingResponse.MetaData;
    }
}