@page "/"
@inject IRealtiesService _realties

    <div class="row">
        <div class="col-md-4">
            <Search OnSearchChanged="SearchChanged" />
        </div>
        <div class="col-md-4">
            <Sort OnSortChanged="SortChanged" />
        </div>

    </div>
    <div class="row">
        <RealtiesMain Realties="RealtiesList" />
    </div>

    <div class="row">
        <div class="col">
            <Pagination MetaData="MetaData" Spread="1" SelectedPage="SelectedPage" />
        </div>
    </div>

    @code {
        public List<Realty> RealtiesList { get; set; } = new List<Realty>();
        public MetaData MetaData { get; set; } = new MetaData();
        private PagingParameters _pagingParameters = new PagingParameters();

        protected async override Task OnInitializedAsync()
        {
            await GetRealties();
        }

        private async Task SearchChanged(string searchTerm)
        {
            _pagingParameters.PageNumber = 1;
            _pagingParameters.SearchTerm = searchTerm;
            await GetRealties();
        }

        private async Task SortChanged(string orderBy)
        {
            _pagingParameters.OrderBy = orderBy;
            await GetRealties();
        }

        private async Task SelectedPage(int page)
        {
            _pagingParameters.PageNumber = page;
            await GetRealties();
        }

        private async Task GetRealties()
        {
            var pagingResponse = await _realties.GetRealtiesPaged(_pagingParameters);
            RealtiesList = pagingResponse.Items;
            MetaData = pagingResponse.MetaData;
        }
    }
